body{
    background-image: url('1920x1080-px-blue-dark-1217337-wallhere.com.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:whitesmoke;
}
header{

    display: flex;
    justify-content: space-between;
     }
.nav
 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin: 10px 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: whitesmoke;
 }

.nav ul{
   list-style: none;
   overflow: hidden;

}
.nav ul li{
    display: inline-block;
    margin-left: 2em;
    font-size: 20px;
    font-weight: 500;
    
 }
 .nav ul li a{
    text-decoration:none;
    color: whitesmoke;
    font-style: italic;
    border-bottom: 2px solid transparent;
    float: right;
    padding: 10px 20px;
    
 }
 .nav ul li a:hover{
    border-bottom: 2px solid whitesmoke;
    background-color: rgb(203, 63, 135);
    padding: 18px;
 }
 .text
{
 color: whitesmoke;
 text-align: center;
 padding-top: 50px;
 padding-bottom: 50px;
 margin-top: 50px;
 margin-bottom: auto;
 font-size: 50px;
 
}
.button{
    width: 100px;
    height: 100px;
}